[mysqld]
ngram_token_size=2
user=mysql
default-storage-engine=INNODB
character-set-server=utf8mb4
#character-set-client-handshake=FALSE
collation-server=utf8mb4_general_ci
init_connect='SET NAMES utf8'
# binlog 七日删除
log_bin = true
binlog_expire_logs_seconds = 604800
lower_case_table_names = 1
#---------------------------
#skip-host-cache
host_cache_size=0
skip-name-resolve
performance_schema_max_table_instances=400
table_definition_cache=400
table_open_cache=256
performance_schema = off
max_connections = 2000
max_user_connections= 500
interactive_timeout = 86400
wait_timeout = 86400
sql_mode='STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION'
[client]
default-character-set=utf8
[mysql]
default-character-set=utf8
